<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>diseños</title>
</head>
<body>
    <header>
        <div>
                <h1>Aura</h1>
                <p>todas las uñas de la temporada</p>
        </div>
    </header> 

<!--navbar-->
<nav class="navbar">
    <a href="../../index.html">inicio</a>
    <a href="../views/tendencias.html">tendencias</a>
    <a href="">diseños</a>
    <a href="../views/formularios.html">registro</a>
    </nav> 
    <!--imágenes-->
    <img class="diseñosimg" src="../img/diseños 1.jfif" alt="">
    <img class="diseñosimg" src="../img/diseños 2 (2).jfif" alt="">
    <img class="diseñosimg" src="../img/diseños 3.jfif" alt="">
    <img class="diseñosimg" src="../img/diseños 4.jfif" alt="">
    <img class="diseñosimg" src="../img/diseños 5.jfif" alt="">
    <img class="diseñosimg" src="../img/Unhas Decoradas Almond.jfif" alt="">
</body>
</html>