
/*estilos comunes*/

*{ box-sizing: border-box;}

body{
    margin: 10px;
    padding: 10;
    font-family: 'Roboto', sans-serif;
    font-size:  15px; ;
    background-color: #e2cac9;
}

/* estilos header*/
header{ 
    padding: 60px;
    text-align: center;
    background-image:url(../img/descarga\ \(2\).jfif) ;
    

}

header div {
    padding: 10px;
    border-radius: 10px;
    
    font-size: 1.3rem;
}

/* estiloos navbar*/

.navbar{
    display:flex ;
    justify-content: center;
    background-color: #b89795;
    position: sticky;
    top: 10px;
}

.navbar a{
    color: rgba(90, 70, 44, 0.842);
    padding: 14px 20px;

}

.navbar a:hover {
    background-color: #b0afab;
}


/*estilos parte principal*/
.principal{
    display: flex;
    flex-wrap: wrap;
}


aside{
    flex-basis: 25%;
    padding:10px;
    background-color:rgb(252, 233, 233);
    text-align: center;
}

main {
    flex-basis:75%;
    padding: 20px;
    text-align: center;

}

main h2{
    text-transform: capitalize;
    margin-top: 10px;
    background-color: #e49cc8;
    text-align: center;
    }


main p{
    font-style: italic;
}

main img{
    width:100%;
    height: 28vw;
    object-fit: cover;
}

main .readmore {
    background-color: #965452;
    color: azure;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin: auto;
    text-align: center;
    width: fit-content;
}

main .readmore:hover{
    background-color:#e49cc8;

}

main .seemore{
    display: block;
    background-color: #965452;
    color: azure;
    padding: 10px;
    margin-top: 40px;
    border-radius: 10px;
    text-align: center;
}

main .seemore:hover{
    background-color: #e49cc8;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: o,3s all ease-in-out;
}

.image img:hover{
    transform: scale(1.05);
}

.ca {
    border: 2px;
    background-image: linear-gradient(pink, violet );
    color: azure;
}

.asidetitle {
    text-decoration:underline;
}


/*estilos footer*/
footer{
    padding: 10px;
    text-align: center;
    background-color: #ccb0c4;
    color: white;
}


/* estilo formulario*/
form{
    padding: 40px;
    background-color: #b89795;
    border: 5px outset #e2cac9;
    text-align: center;
}

label{
    background-color: #ccb0c4;
    color: #000000;
    padding: 10px;
    border-radius: 10px;
}

fieldset{
    display: grid;
    grid-auto-columns: 30vw 20vw;
    gap: 10px;
    margin: auto;
    width: fit-content;
    font-size: 1.2rem;
    border-radius: 10px;
}

legend{
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
}


/*estilo de las subpáginas*/

/*diseños*/
.diseñosimg {
    width: 490px;
    height: 510px;
    
}


@media (max-width:800px) {
    .diseñosimg{
        width: 60%;
    }
}

@media (max-width:800px) {
    .tendenciasimg{
        width: 60%;
    }
}

@media (max-width:800px) {
    header {
        background-position: center;
    }
    
}


@media (max-width: 800px) {
    .principal{
            flex-direction: column;
            position: unset
    }
.navbar a {
    text-align: center;
    } 
}

@media (max-width:800px) {
    .image img {
        width: 60%;
    }
}

@media (max-width:600px) {
    fieldset{
        display: flex ;
        flex-direction: column;
    }
}


